 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/bitters/app/assets/stylesheets/base';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Custom Styles
body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

.full {
  font-size: 18px;
  font-weight: 200;
  background-color: #eee;
  h1 {
    font-size: 50px;
    text-align: center;
  }
  #logOut {
    float: right;
  }
}
