 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/bitters/app/assets/stylesheets/base';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

//Mixins
@mixin display-box {
  text-align: center;
  font-weight: bold;
  height: 200px;
  max-width: 50%;
  width: 50%;
  margin-top: 23px;
  margin-left: 25%;
  margin-bottom: 20px;
}

@mixin display-box-parent {
  text-align: center;
  font-weight: bold;
  height: 175px;
  width: 50%;
  margin-left: 25%;
  margin-bottom: 24px;
  border-radius: 20px;
  img {
    width: 60%;
    margin-top: -18%;
  }
  p {
    color: white;
    font-size: 35px;
  }
}

@mixin parent-routine-display {
  h3 {
  margin-top: -5px;
  margin-bottom: 5px;
  text-align: center;
  }
  input {
    width: 90%;
    display: inline-block;
  }
  button {
    padding: 10px;
    margin-top: -10px;
  }
}

@mixin parent-timer-display {
  font-weight: bold;
  h3 {
    margin-top: 20px;
    margin-bottom: 15px;
    text-align: center;
  }
  output {
    padding-left: 42%;
    padding-bottom: 25px;
  }
  input {
    display: inline-block;
    margin-top: 2px;
    margin-bottom: 50px;
  }
  button {
    padding: 8.5px 13px;
    margin-left: 32%;
    margin-top: -10px;
  }
  h4 {
    display: inline-block;
    margin-left: 20px;
    font-size: 30px;
    margin-top: 5px;
  }
}


// Custom Styles

* {
  font-family: "Rudiment", Comic Sans MS, Arial, sans-serif;
  h1, h3, h4 {
    font-family: "Rudiment", Comic Sans MS, Arial, sans-serif;
  }
}

body {
  @include outer-container;
  // background-color: HSLA(0, 0%, 93%, 1);
  background: url(../images/linedpaper.png);
  color: #333;
  button {
    box-shadow: 0px 5px 0px HSLA(215, 55%, 39%, 1);
    outline: none;
    position: relative;
    &:active {
      top: 5px;
      box-shadow: none;
    }
    &:hover {
      background-color: HSLA(215, 55%, 54%, 1);
    }
  }
}

body.sunrise {
  background: url(../images/sunrise.jpg) no-repeat center center fixed;
  background-size: cover;
  height: 100%;
}

body.moontime {
  background: url(../images/nighttime.png) no-repeat center center fixed;
  background-size: cover;
  height: 100%;
}

// .MorningRoutineMP:hover + .full {
//   background: red;
// }

// Main Page & User Login/Signup View

.full {
  font-size: 18px;
  font-weight: 200;
  .UserHeader {
    width: 100%;
    height: 65px;
  }
  .MainTitle {
    text-align: center;
    img {
      margin-top: 1.75%;
      margin-left: -6%;
      position: absolute;
    }
    h1 {
      font-size: 55px;
      color: HSLA(168, 76%, 42%, 1);
      display: inline-block;
      margin-top: 47px;
      margin-bottom: 29px;
      margin-left: 3.75%;
      letter-spacing: 8px;
      animation-play-state: paused;
      &:hover {
        animation-play-state: running;
      }
    }
    span {
      position: absolute;
      margin: -15% 0 0 43.5%;
      color: HSLA(360, 100%, 34%, 1);
    }
  }
  #loggedIn {
    position: absolute;
    padding: 10px;
    font-size: 25px;
    font-weight: bold;
    animation-play-state: paused;
    &:hover {
      animation-play-state: running;
    }
  }
  #ParentViewBtn {
    float: right;
    margin: 10px;
  }
  #logOut {
    float: right;
    margin: 10px;
  }
}

#LoginSection {
  text-align: -webkit-right;
  width: 30%;
  margin-left: 69%;
  .signup_btn {
    font-weight: bold;
  }
}

// Main Page Routes to Morning/Night Views

.LeftMP {
  @include span-columns(6);
  margin-top: 2.5%;
  #MorningRoutineDisplay {
    @include display-box;
    h4 {
      margin-top: 4px;
    }
    img {
      margin-top: -1.7em;
      &:hover {
      animation: spin 4s linear infinite;
      @keyframes spin { 100% { -webkit-transform: rotate(360deg);
        transform:rotate(360deg); } }
      }
    }
  }
}

.RightMP {
  @include span-columns(6);
  margin-top: 2.5%;
  #NightRoutineDisplay {
    @include display-box;
    h4 {
      margin-top: 4px;
    }
    img {
      margin-top: -1.7em;
      animation-play-state: paused;
      &:hover {
        animation-play-state: running;
      }
    }
  }
}

// Parent Main Page View

#ParentRoutines {
  @include span-columns(6);
  @include omega();
  #ParentRoutinesDisplay {
    @include display-box-parent;
    color: white;
    background-color: lightblue;
  }
}
#ParentRewards {
  @include span-columns(6);
  @include omega();
  #ParentRewardsDisplay {
    @include display-box-parent;
    color: white;
    background-color: HSLA(55, 94%, 65%, 1);
  }
}
#ParentCharts {
  @include span-columns(6);
  @include omega();
  #ParentChartsDisplay {
    @include display-box-parent;
    color: white;
    background-color: lightgreen;
  }
}
#ParentTiming {
  @include span-columns(6);
  @include omega();
  #ParentTimingDisplay {
    @include display-box-parent;
    background-color: lightcoral;
  }
}

// Parent Routine Page

#ParentRoutineMorning {
  @include span-columns(6);
  @include parent-routine-display;
}

#ParentRoutineNight {
  @include span-columns(6);
  @include parent-routine-display;
}

#ListSection {
  @include span-columns(6);
}
#ListSection2 {
  @include span-columns(6);
}

.updateTask {
  background-color: HSLA(105, 49%, 70%, 1);
  box-shadow: 0px 5px 0px HSLA(105, 71%, 41%, 1);
  &:hover {
    background-color: HSLA(105, 49%, 70%, 1);
  }
}

.deleteTask {
  background-color: HSLA(349, 72%, 66%, 1);
  box-shadow: 0px 5px 0px HSLA(349, 90%, 45%, 1);
  &:hover {
    background-color: HSLA(349, 72%, 66%, 1);
  }
}

#edit_moro, #edit_moni {
  margin-top: 28px;
}

.routines_list_morning, .routines_list_night {
  font-weight: bold;
  img {
    padding-left: 2%;
  }
  div {
    display: inline-block;
    width: 75%;
  }
}

// Parent Timing Page

#MorningCountdown {
  @include span-columns(6);
  @include parent-timer-display;
}

#NightCountdown {
  @include span-columns(6);
  @include parent-timer-display;
}

// Countdown Time for Kid Morning/Night Views

.phoneHome {
  position: fixed;
  top: 0;
  margin: 2% 0 0 45%;
}

.your-clock {
  display: inline-block;
  width: 28%;
  margin-left: 35.75%;
  zoom: 1;
  -moz-transform: scale(1);
}

.flip-clock-label {
  font-weight: bold;
}

input[type="range"] {
  width: 100%;
  height: 20px;
  margin: 0;
  border: none;
  padding: 1px 2px;
  border-radius: 14px;
  background: HSLA(0, 0%, 27%, 1);
  box-shadow: inset 0 1px 0 0 #0d0e0f, inset 0 -1px 0 0 #3a3d42;
  outline: none;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 40px;
  height: 18px;
  border: none;
  border-radius: 12px;
  background-image: linear-gradient(to bottom, HSLA(215, 55%, 54%, 1) 0, HSLA(215, 55%, 38%, 1) 100%);
  cursor: pointer;
  &:hover {
    transform: scale(1.5);
    transition: all 0.3s;
  }
  &:active {
    transform: scale(1.5);
    transition: all 0.3s;
  }
}

// Parents Rewards View

#dailyReward {
  @include span-columns(6);
  text-align: center;
  select {
    margin: 2.5% 0 4.6% 41%;
  }
  button {
    margin-bottom: 1.5em;
  }
}

#weeklyReward {
  @include span-columns(6);
  text-align: center;
  select {
    margin: 2.5% 0 4.6% 38%;
  }
  button {
    margin-bottom: 1.5em;
  }
}

// Parents Graphs View

#chartdiv {
  width		: 100%;
  height		: 400px;
  font-size	: 15px;
  font-weight: bold;
}

// Routine Board CSS

#sunday, #monday, #tuesday, #wednesday, #thursday, #friday, #saturday {
  font-size: 70px;
  padding: 0;
  color: HSLA(46, 100%, 50%, 1);
  img {
    margin-bottom: -8%;
  }
}

#reward {
  font-weight: bold;
}

// Routine Board Table for Morning/Night Views

.table-borders {
  $table-border-color: $base-border-color;
  $table-border: 1px solid $table-border-color;
  $table-background: lighten($table-border-color, 10);
  $table-header-color: lighten($table-background, 10);
  $table-hover-color: darken($table-background, 5);
  $table-stripe-color: darken($table-background, 4);
  $table-stripe-color-hover: darken($table-stripe-color, 5);
  $table-padding: .75em 1em;
  margin-top: 35px;

  border: $table-border;
  border-left: 0px;
  border-collapse: separate;
  border-spacing: 0;
  border-radius: $base-border-radius;

  thead:first-of-type {
    tr:first-child > th:first-child {
      border-top-left-radius: $base-border-radius;
    }

    tr:first-child > th:last-child {
      border-top-right-radius: $base-border-radius;
    }
  }

  tbody:last-child {
    tr:last-child > td:first-child {
      border-bottom-left-radius: $base-border-radius;
    }

    tr:last-child > td:last-child {
      border-bottom-right-radius: $base-border-radius;
    }
  }

  thead {
    th {
      background-color: HSLA(168, 77%, 42%, 1);
      text-align: center;
      border-left: 1px solid $table-border-color;
      border-bottom: 0px;
    }
  }

  tbody {
    background-color: HSLA(168, 54%, 70%, 1);

    td {
      text-align: center;
      border-left: 1px solid $table-border-color;
      border-top: 1px solid $table-border-color;
      border-bottom: 0px;
      height: 115px;
    }
  }
}

// Kid Morning Routines View

.KidMorningRoutines, .KidNightRoutines {
  h3 {
    font-size: 2.25em;
    margin-top: 5%;
    font-weight: bold;
  }
  text-align: center;
  button {
    margin-top: 3%;
  }
}

.KidNightRoutines {
  h3 {
    color: white;
  }
}

// Kids Routine Board

.KidsRoutineBoard {
  text-align: center;
  h3 {
    color: HSLA(360, 100%, 34%, 1);
    font-size: 2.25em;
    margin-top: 5%;
    font-weight: bold;
  }
  #checkIt {
    font-weight: bold;
    color: HSLA(360, 100%, 34%, 1);
  }
}

// Extra Animations

#floatingImage {
  // display: none;
  position: absolute;
  margin-left: 40%;
  margin-top: 13.5%;
}

// Footer Section

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

// MEDIA QUERIES

@media (max-width: 431px) {
  .full .MainTitle span {
    margin: 0 0 0 -7%;
  }
  footer {
    display: none;
  }
}

@media (max-width: 475px) {
  .MainTitle img {
    padding-left: 10%;
    padding-top: 10%;
  }
  #MorningRoutineDisplay img, #NightRoutineDisplay img {
    margin-bottom: -3.5em;
  }
  .MainTitle .slash {
      margin: 0 0 0 -15%;
      position: relative;
  }
  footer {
    display: none;
  }
}

@media (max-width: 500px) {
  #ParentRoutines, #ParentTiming, #ParentRewards, #ParentCharts {
    #ParentRoutinesDisplay, #ParentChartsDisplay, #ParentRewardsDisplay, #ParentTimingDisplay  {
      width: 95%;
      margin-left: 5%;
    }
  }
  #dailyReward select {
    margin: 5.5% 0 10.75% 30%;
  }
  #weeklyReward select {
    margin: 5.5% 0 10.75% 24%;
  }
  #LoginSection {
    width: 67%;
    margin-left: 30%;
  }
  #MorningRoutineDisplay img, #NightRoutineDisplay img {
    margin-top: -1em;
    margin-left: -3em;
    width: 200px;
    max-width: none;
  }
  .your-clock {
    zoom: 0.37;
    -moz-transform: scale(0.37);
  }
  footer {
    display: none;
  }
}

@media (min-width: 501px) and (max-width: 700px) {
  #LoginSection {
    width: 54%;
    margin-left: 44%;
  }
  .your-clock {
    zoom: 0.45;
    -moz-transform: scale(0.45);
  }
  footer {
    display: none;
  }
}

@media (min-width: 701px) and (max-width: 900px) {
  #LoginSection {
    width: 39%;
    margin-left: 60%;
  }
  .your-clock {
    zoom: 0.65;
    -moz-transform: scale(0.65);
  }
  footer {
    display: none;
  }
}

@media (max-width: 900px) {
  .full .MainTitle img {
    display: none;
  }
  .full .MainTitle h1 {
    margin-left: 0;
  }
  footer {
    display: none;
  }
}

@media (min-width: 901px) and (max-width: 980px) {
  .full .MainTitle h1 {
    margin-left: 6%;
  }
  footer {
    display: none;
  }
}

@media (min-width: 901px) and (max-width: 1072px) {
  .your-clock {
    zoom: 0.8;
    -moz-transform: scale(0.8);
  }
  footer {
    display: none;
  }
}
