 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/bitters/app/assets/stylesheets/base';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

//Mixins
@mixin display-box {
  text-align: center;
  width: 50%;
  margin-left: 25%;
}

// Custom Styles
body {
  @include outer-container;
  // background-color: HSLA(0, 0%, 93%, 1);
  background: url(../images/linedpaper.png);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
  button {
    box-shadow: 0px 5px 0px HSLA(215, 55%, 39%, 1);
    outline: none;
    position: relative;
    &:active {
      top: 5px;
      box-shadow: none;
    }
    &:hover {
      background-color: HSLA(215, 55%, 54%, 1);
    }
  }
}

body.sunrise {
  background: url(../images/sunrise.jpg) no-repeat center center fixed;
  background-size: cover;
}

// .MorningRoutineMP:hover + .full {
//   background: red;
// }

// Main Page & User Login/Signup View

.full {
  font-size: 18px;
  font-weight: 200;
  .UserHeader {
    width: 100%;
    height: 65px;
  }
  .MainTitle {
    text-align: center;
    h1 {
      font-size: 50px;
      display: inline-block;
      margin-top: 50px;
      margin-bottom: 50px;
      &:hover {
        // transform: scale(1.1);
        // transition: all 0.3s;
      }
    }
  }
  #loggedIn {
    position: absolute;
    padding: 10px;
  }
  #ParentViewBtn {
    float: right;
    margin: 10px;
  }
  #logOut {
    float: right;
    margin: 10px;
  }
}

// Main Page Routes to Morning/Night Views

.LeftMP {
  @include span-columns(6);
  #MorningRoutineDisplay {
    @include display-box;
    h4 {
      margin-top: 4px;
    }
    img {
      margin-top: -20px;
      &:hover {
      transform: scale(1.3);
      transition: all 0.3s;
      }
    }
  }
}

.RightMP {
  @include span-columns(6);
  #NightRoutineDisplay {
    @include display-box;
    h4 {
      margin-top: 4px;
    }
    img {
      margin-top: -20px;
      &:hover {
      transform: scale(1.3);
      transition: all 0.3s;
      }
    }
  }
}

// Parent Main Page View

#ParentRoutines {
  @include span-columns(6);
  @include omega();
  #ParentRoutinesDisplay {
    @include display-box;
    background-color: lightgreen;
  }
}
#ParentRewards {
  @include span-columns(6);
  @include omega();
  #ParentRewardsDisplay {
    @include display-box;
    background-color: lightblue;
  }
}
#ParentCharts {
  @include span-columns(6);
  @include omega();
  #ParentChartsDisplay {
    @include display-box;
    background-color: lightcoral;
  }
}
#ParentTiming {
  @include span-columns(6);
  @include omega();
  #ParentTimingDisplay {
    @include display-box;
    background-color: lightyellow;
  }
}

// Parent Routine Page

#ParentRoutineMorning {
  @include span-columns(6);
}

#ParentRoutineNight {
  @include span-columns(6);
}

#ListSection {
  @include span-columns(6);
}
#ListSection2 {
  @include span-columns(6);
}

// Parent Timing Page

#MorningCountdown {
  @include span-columns(6);
}

#NightCountdown {
  @include span-columns(6);
}

// Countdown Time for Kid Morning/Night Views

.your-clock {
  display: inline-block;
  width: 28%;
  margin-left: 35.75%;
}

input[type="range"] {
  width: 100%;
  height: 20px;
  margin: 0;
  border: none;
  padding: 1px 2px;
  border-radius: 14px;
  background: HSLA(0, 0%, 27%, 1);
  box-shadow: inset 0 1px 0 0 #0d0e0f, inset 0 -1px 0 0 #3a3d42;
  outline: none;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 40px;
  height: 18px;
  border: none;
  border-radius: 12px;
  background-image: linear-gradient(to bottom, HSLA(215, 55%, 54%, 1) 0, HSLA(215, 55%, 38%, 1) 100%);
  cursor: pointer;
  &:hover {
    transform: scale(1.5);
    transition: all 0.3s;
  }
}

#invis_input {
  outline: none;
  border: none;
  box-shadow: none;
  background-color: HSLA(0, 0%, 93%, 1)
}

// Routine Board CSS for Morning/Night Views

.table-borders {
  $table-border-color: $base-border-color;
  $table-border: 1px solid $table-border-color;
  $table-background: lighten($table-border-color, 10);
  $table-header-color: lighten($table-background, 10);
  $table-hover-color: darken($table-background, 5);
  $table-stripe-color: darken($table-background, 4);
  $table-stripe-color-hover: darken($table-stripe-color, 5);
  $table-padding: .75em 1em;

  border: $table-border;
  border-left: 0px;
  border-collapse: separate;
  border-spacing: 0;
  border-radius: $base-border-radius;

  tbody {
    background-color: $table-background;
    tr:hover > td, tr:hover > th {
      background-color: HSLA(172, 52%, 73%, 1);
    }
    tr:nth-child(even) {
      background-color: $table-stripe-color;
      &:hover > td {
        background-color: HSLA(215, 55%, 54%, 1);
      }
    }
  }

  thead:first-of-type {
    tr:first-child > th:first-child {
      border-top-left-radius: $base-border-radius;
    }

    tr:first-child > th:last-child {
      border-top-right-radius: $base-border-radius;
    }
  }

  tbody:last-child {
    tr:last-child > td:first-child {
      border-bottom-left-radius: $base-border-radius;
    }

    tr:last-child > td:last-child {
      border-bottom-right-radius: $base-border-radius;
    }
  }

  thead {
    th {
      background-color: $table-header-color;
      padding: $table-padding;
      border-left: 1px solid $table-border-color;
      border-bottom: 0px;
    }
  }

  tbody {
    background-color: $table-background;

    td {
      padding: $table-padding;
      border-left: 1px solid $table-border-color;
      border-top: 1px solid $table-border-color;
      border-bottom: 0px;

      button {
        padding: .5em 1em .6em;
        font-size: .7em;
        margin-right: 0.5em;
        display: inline-block;
        width: 100%;
        margin-bottom: .3em;
        outline: none;

        @include media($medium-screen) {
          width: auto;
          margin-bottom: 0;
        }

        @include media($large-screen) {
          font-size: .8em;
        }
      }
    }
  }
}
