<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <title>final_proj</title>
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="../bower_components/normalize-css/normalize.css" />
    <link rel="stylesheet" href="../bower_components/FlipClock/compiled/flipclock.css" />
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->

    <!-- build:js scripts/vendor/modernizr.js -->
    <script src="../bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->
  </head>
  <body>

    <div class="full">

      <div class="UserHeader">
        <span id="loggedIn"></span><button id="logOut"></button>
        <a href="#/parent"><button id="ParentViewBtn">Parent View</button></a>
      </div>

      <div class="MainTitle">
        <a href="/"><h1>Routines App</h1></a>
      </div>

      <div class="your-clock"></div>

      <div id="LoginSection"></div>

      <div id="CountdownClock"></div>

      <div id="MainSection">
        <div class="LeftMP">
            <div id="MorningRoutineDisplay">
              <a class="MorningRoutineMP" href="#/morning_routines">
                Morning Routines
              </a>
            </div>
        </div>
        <div class="RightMP">
            <div id="NightRoutineDisplay">
              <a class="NightRoutineMP" href="#/night_routines">
                Bedtime Routines
              </a>
            </div>
        </div>
      </div> <!--id="MainSection"-->

      <div id="ListSection"></div>
      <div id="ListSection2"></div>


    </div> <!--class="full"-->

    <!-- Login/Signup Scripts ================================== -->

    <script type="text/template" id='user-signup'>
      <form id="SignUp">
        <input id="signupName" type="text" placeholder="Enter User Name" />
        <input id="signupPassword" type="password" placeholder="Enter Password" />
        <input id="signupEmail" type="email" placeholder="Enter Email Address" />
        <button>Sign Up</button>
      </form>
    </script>

    <script type="text/template" id='user-login'>
      <form id="Login">
        <input id="userName" type="text" placeholder="Enter User Name" />
        <input id="password" type="password" placeholder="Enter Password" />
        <!--<input id="userEmail" type="email" placeholder="Enter Email" />-->
        <a href="#/signup" class="signup_btn">Sign Up</a>
        <button>Log In</button>
      </form>
    </script>

    <!-- Parents View Scripts ================================== -->

    <script type="text/template" id='parent-mainPage'>
      <div id="ParentRoutines">
        <div id="ParentRoutinesDisplay">
          <a class="ParRoMP" href="#/parent_routines">
            Routines
          </a>
        </div>
      </div>
      <div id="ParentTiming">
        <div id="ParentTimingDisplay">
          <a class="ParTiMP" href="#/parent_timing">
            Timing
          </a>
        </div>
      </div>
      <div id="ParentRewards">
        <div id="ParentRewardsDisplay">
          <a class="ParReMP" href="#/parent_rewards">
            Rewards
          </a>
        </div>
      </div>
      <div id="ParentCharts">
        <div id="ParentChartsDisplay">
          <a class="ParChMP" href="#/parent_charts">
            Charts
          </a>
        </div>
      </div>
    </script>

    <!-- Parents Routines Scripts ================================== -->

    <script type="text/template" id='parent-add-routines'>
      <div id="ParentRoutineMorning">
        <h3>Morning Routines</h3>
        <form id="AddRoutineLeft">
          <input type="text" id="RoutineMorningInput" placeholder="Add Morning Routine" required>
          <!--<input type="number" id="RoutineMorningTiming" placeholder="Add Morning Countdown Timer" required>-->
          <button id="AddMorningRoutine">Add</button>
        </form>
      </div>
      <div id="ParentRoutineNight">
        <h3>Bedtime Routines</h3>
        <form id="AddRoutineRight">
          <input type="text" id="RoutineNightInput" placeholder="Add Bedtime Routine" required>
          <!--<input type="number" id="RoutineNightTiming" placeholder="Add Morning Countdown Timer" required>-->
          <button id="AddNightRoutine">Add</button>
        </form>
      </div>
    </script>

    <script type="text/template" id='parent-view-routines'>
      <% if (time_of_day === "morning") { %>
      <li class="routines_list_morning" id="<%= objectId %>">
        <a href='#/edit_morning/<%= objectId %>'>
          <div id="morning_routine_list"><%= routine %></div>
        </a>
      </li>
      <% } %>
    </script>

    <script type="text/template" id='parent-view-routines-night'>
      <% if (time_of_day === "night") { %>
      <li class="routines_list_night" id="<%= objectId %>">
        <a href='#/edit_night/<%= objectId %>'>
          <div id="night_routine_list"><%= routine %></div>
        </a>
      </li>
      <% } %>
    </script>

    <script type="text/template" id='parent-edit-routines'>
      <li class="routines_list_morning" id="<%= objectId %>">
        <form id="edit-morning-list">
          <input type="text" value="<%= routine %>" id="edit_moro">
          <button>Update</button>
          <button id="deleteMoTask">Delete</button>
        </form>
      </li>
    </script>

    <script type="text/template" id='parent-edit-routines-night'>
      <li class="routines_list_night" id="<%= objectId %>">
        <form id="edit-night-list">
          <input type="text" value="<%= routine %>" id="edit_moni">
          <button>Update</button>
          <button id="deleteNiTask">Delete</button>
        </form>
      </li>
    </script>

    <!-- Parents Timing Scripts ================================== -->

    <script type="text/template" id='parent-timing'>
      <div id="MorningCountdown">
        <h3>Morning Countdown Timer</h3>
        <form id="AddTimeLeft">
          <input type="range" min="0" max="90" id="TimingMorningInput" placeholder="Add Morning Countdown Timer" required>
          <button id="AddMorningTime">Lock Time In</button>
        </form>
      </div>
      <div id="NightCountdown">
        <h3>Bedtime Countdown Timer</h3>
        <form id="AddTimeRight">
          <input type="range" min="0" max="90" id="TimingNightInput" placeholder="Add Bedtime Countdown Timer" required>
          <button id="AddNightTime">Lock Time In</button>
        </form>
      </div>
    </script>

    <script type="text/template" id='parent-view-time'>
      <% if (time_of_day === "morning") { %>
      <div class="routines_time_morning" id="<%= objectId %>">
        <a href='#/edit_morning/<%= objectId %>'>
          <div id="morning_time_list"><%= timing %></div>
        </a>
      </div>
      <% } %>
    </script>

    <script type="text/template" id='parent-view-time-night'>
      <% if (time_of_day === "night") { %>
      <div class="routines_time_night" id="<%= objectId %>">
        <a href='#/edit_night/<%= objectId %>'>
          <div id="night_time_list"><%= timing %></div>
        </a>
      </div>
      <% } %>
    </script>

    <!-- Parents Rewards Scripts ================================== -->

    <script type="text/template" id='parent-rewards'>
      <div id="dailyReward">
        <p>Daily Reward</p>
        <select id="daily-reward">
          <option value="option">1st Reward</option>
          <option value="option">2nd Reward</option>
        </select>
        <button>Add</button>
      </div>
      <div id="weeklyReward">
        <p>Weekly Reward</p>
        <select id="weekly-reward">
          <option value="option">1st Reward</option>
          <option value="option">2nd Reward</option>
        </select>
        <button>Add</button>
      </div>
      <div id="monthlyReward">
        <p>Monthly Reward</p>
        <select id="monthly-reward">
          <option value="option">1st Reward</option>
          <option value="option">2nd Reward</option>
        </select>
        <button>Add</button>
      </div>
    </script>

    <!-- Parents Charts Scripts ================================== -->


    <!-- Kids Morning Routines Scripts =========================== -->

    <script type="text/template" id='start-routines'>
      <h3>Start Morning Routines</h3>
      <button class="start-button">START!</button>
    </script>

    <script type="text/template" id='next-routine'>
      <div class="kid_morning_routines" id="<%= objectId %>">
        <h3><%= routine %></h3>
        <button class="next-button">NEXT</button>
      </div>
    </script>



    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/underscore/underscore.js"></script>
    <script src="../bower_components/FlipClock/compiled/flipclock.min.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <script src="//www.parsecdn.com/js/parse-1.3.1.min.js"></script>

    <script type="text/javascript">
      window.App = {};
      App.Models = {};
      App.Collections = {};
      App.Views = {};
      App.Routers = {};
    </script>

    <!-- build:js scripts/main.js -->
    <script src="scripts/models/routine_model.js"></script>
    <script src="scripts/models/timing_model.js"></script>
    <script src="scripts/collections/routine_collection.js"></script>
    <script src="scripts/collections/time_collection.js"></script>
    <script src="scripts/routes/app_router.js"></script>
    <script src="scripts/views/login_view.js"></script>
    <script src="scripts/views/signup_view.js"></script>
    <script src="scripts/views/main_home_view.js"></script>
    <script src="scripts/views/parent_home_view.js"></script>
    <script src="scripts/views/parent_add_routine.js"></script>
    <script src="scripts/views/parent_view_routine.js"></script>
    <script src="scripts/views/parent_view_routine_night.js"></script>
    <script src="scripts/views/parent_edit_routine.js"></script>
    <script src="scripts/views/parent_edit_routine_night.js"></script>
    <script src="scripts/views/parent_reward.js"></script>
    <script src="scripts/views/parent_add_time.js"></script>
    <script src="scripts/views/parent_timing_view.js"></script>
    <script src="scripts/views/parent_timing_view_night.js"></script>
    <script src="scripts/views/kid_morning_routine.js"></script>
    <script src="scripts/main.js"></script>
    <!-- endbuild -->

</body>
</html>
